@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

:root {
  --navbar-bg: #006381;
}

.header {
  background: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 5px 10%;
}

.empresa .logo {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Monda", sans-serif;
}
