@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

:root {
  --navbar-bg: #006381;
  --texto: "Monda";
  --tamaño-txt-logo: 18px;
  --tamaño-txt-link: 14px;
  --color-contraste: #00ffdc;
}

.header {
  background: var(--navbar-bg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 5px 10%;
}

.empresa .logo,
.navbar-item .navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: var(--tamaño-txt-logo);
  font-family: var(--texto);
}

.empresa {
  margin-right: auto;
}

.header .navbar-ul {
  list-style: none;
}

.navbar-ul .navbar-item {
  display: inline-block;
  padding: 0 30px;
}

.navbar-item .navbar-link {
  font-size: var(--tamaño-txt-link);
}

.toggle .btn-toggle {
  border: 2px solid var(--color-contraste);
  border-radius: 1px;
  padding: 5px 30px;
  background: inherit;
  color: var(--color-contraste);
  cursor: pointer;
}
